<!DOCTYPE html>
<html>
<head>
  <title>Profile wizard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "profile_wizard/application", media: "all" %>
  <%= javascript_include_tag "profile_wizard/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
